
* {
    margin: 0;
    padding: 0;
}

/*para poner en línea safdsatgfssdrfdsrfdsf */
li {
    display: inline;
}

h1, p {

    background-color: bisque;

}

strong {
background-color: black;

}
safsafasfasfsafasfsaf

h1 {

    /*Padding o relleno*/
    /*El 1 valor es para los lados verticales (40),
    El 2 valor es para los horizontales(20)
    padding: 40px 20px;*/

    /*Cuando queres que crezca el elemento*/
    padding: 20px 12px 40px 120px;

    /*Cuando queres que se separe un elemento de otro*/
    margin: 40px 20px;
    
}

p {
  
    /* tamaño, estilo, color*/
    border: 2px solid black;

}

/*PSEUDO CLASE :ROOT*/

:root {
    /*varibales en css para guaradr un valor*/
    --encabezados: 44px;
    --border: 2px solid black;
    --background-juani: #FFFFFF;
    
    

}